@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

:root{
    --blue: #2980b9;
}


*{
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
*::selection{
    background: #ff3300;
    color: #fff;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
.btn{
    height: 4rem;
    width: 14rem;
    background:var(--blue);
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    border: none;
    outline: none;
}
.btn:hover{
    letter-spacing: .2rem;
    opacity: .8rem;
}
.heading{
    padding-top: 7rem;
    width: 95%;
    border-bottom: .2rem solid rgba(0,0,0,.3);
    margin: 0 auto;
}
.heading span{
    font-size: 2rem;
    padding: 1rem 6rem;
    color: #fff;
    background:var(--blue);
    border-top-right-radius: 3rem;
    display: inline-block;
}


header .header-1, header .header-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    width: 100%;
    z-index: 1000;
}
header .header-1 .logo{
    font-size: 2rem;
    color: #666;
}
header .header-1 .logo i{
    color:var(--glue);
}
header .header-1 .form-container form{
    display: flex;
}
header .header-1 .form-container form #search{
    height: 4rem;
    width: 50rem;
    outline: none;
    border: .2rem solid #666;
    font-size: 1.5rem;
    padding: 0 1rem;
}
header .header-1 .form-container form #search:fucas{
    border-color:var(--blue);
}
header .header-1 .form-container form label{
    height: 4rem;
    width: 5rem;
    text-align: center;
    line-height: 4rem;
    font-size: 2rem;
    cursor: pointer;
    background:var(--blue);
    color: #fff;
}
header .header-1 .form-container form label:hover{
    color: yellow;
}


header .header-2{
    background:var(--blue);
}
header .header-2 .navbar ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .header-2 .navbar ul li{
    margin: 0 1rem;
}
header .header-2 .navbar ul li a{
    font-size: 2rem;
    color: #fff;
}
header .header-2 .navbar ul li a.active,
header .header-2 .navbar ul li a:hover{
    color: yellow;
}
header .header-2 .icons a{
    color: #fff;
    font-size: 2rem;
    padding: 0 1rem;
}
header .header-2 .icons a:hover{
    color: yellow;
}
header .header-2 #menu{
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    display: none;
}
header .header-2 .header-active{
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
}

/* home section styling */


.home .home-slider .item{
    position: relative;
}
.home .home-slider .item img{
    height: 100vh;
    width: 100%;
    object-fit: cover;
}
.home .home-slider .item .content{
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
}
.home .home-slider .item .content h3{
    color: #fff;
    text-shadow: 0 .3px .5px #000;
    font-size: 5rem;
    text-transform: uppercase;
}
.home .home-slider .item .content p{
    color: #fff;
    font-size: 2.5rem;
    padding: 2rem 0;
    width: 50rem;
}
.home .owl-carousel .owl-prev, .home .owl-carousel .owl-next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    outline: none;
}
.home .owl-carousel .owl-prev{
    left: 1.3rem;;
}
.home .owl-carousel .owl-next{
    right: 1.3rem;;
}
.home .owl-carousel .owl-prev span, .home .owl-carousel .owl-next span{
    color: #fff;
    font-size: 7rem;
}

/* arrival section styling */
.arrival{
    min-height: 100vh;
}
.arrival .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    width: 85%;
    margin: 0 auto;
}
.arrival .box-container .box{
    flex: 1 1 30rem;
    border: .1rem solid rgba(0,0,0,.3);
    overflow: hidden;
    position: relative;
    margin: 1rem 2rem;

}
.arrival .box-container .box .image{
    height: 20rem;
    padding: 2rem;
    text-align: center;
    background: #f0f0f0;
}
.arrival .box-container .box .image img{
    height: 100%;
    object-fit: cover;
}
.arrival .box-container .box .info h3{
    padding: 1rem;
    font-size: 2rem;
    color: var(--blue);
}
.arrival .box-container .box .subInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-top: .1rem solid rgba(0,0,0,.3);
}
.arrival .box-container .box .subInfo .price{
    color: #ff3300;
    font-size: 2rem;
}
.arrival .box-container .box .subInfo .price span{
    color: #666;
    font-size: 1.5rem;
    text-decoration: line-through;
}
.arrival .box-container .box .subInfo .stars i{
    color: orange;
    font-size: 1.5rem;
}
.arrival .box-container .box .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 20rem;
    width: 100%;
    background: rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
}
.arrival .box-container .box:hover .overlay{
    transform: scale(1);
}
.arrival .box-container .box .overlay a{
    font-size: 2rem;
    padding: 1.5rem 2rem;
    background: #fff;
    color: #666;
    margin: 1rem;
    transform: translateY(-15rem);
    transition-delay: calc(.1s * var(--i));
}
.arrival .box-container .box:hover .overlay a{
    transform: translateY(0);
}
.arrival .box-container .box .overlay a:hover{
    color: var(--blue);
}


/* feature section styling */
.feature{
    min-height: 100vh;
    background: linear-gradient(165deg, #fff 50%, var(--blue) 50.1%);
    padding: 2rem;
}
.feature .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    margin: 3rem auto;
    width: 95%;
    background: #fff;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
    border-radius: 1rem;
}
.feature .row .image-container{
    display: flex;
    align-items: center;
}
.feature .row .image-container .big-image img{
    height: 30rem;
    margin: 2rem 0;
    filter: drop-shadow(0 .1rem .5rem #000);
}
.feature .row .image-container .small-image{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
.feature .row .image-container .small-image img{
    height: 6rem;
    padding: 1rem;
    margin: 1rem;
    border: .1rem solid #666;
    cursor: pointer;
}
.feature .row .image-container .small-image img.image-active,
.feature .row .image-container .small-image img:hover{
    border: .2rem solid var(--blue);
}
.feature .row .content{
    padding-left: 6rem;
}
.feature .row .content h3{
    font-size: 4rem;
    color: var(--blue);
}
.feature .row .content .stars i{
    font-size: 2rem;
    color: orange;
    padding: 1rem 0;
}
.feature .row .content .stars span{
    font-size: 2rem;
    color: #666;
}
.feature .row .content p{
    color: #333;
    width: 40rem;
    font-size: 2rem;
    padding: 2rem 0;
}
.feature .row .content .price{
    color: #ff3300;
    font-size: 2rem;
}
.feature .row .content strong span{
    color: #666;
    text-decoration: line-through;
    font-size: 1.5rem;
}
.feature .row .content .btn{
    margin-left: 2rem;
}





/* media query */

@media(max-width: 768px){
    html{
        font-size: 55%;
    }
    header .header-1 .form-container form #search{
        width: 100%;
    }
    header .header-2 #menu{
        display: block;
    }
    header .header-2 .navbar{
        position: fixed;
        top: -200rem;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 0 0 100vh rgba(0,0,0,.3);
        z-index: 10000;
        opacity: 0;
    }
    header .header-2 .navbar ul{
        flex-flow: column;
        background: linear-gradient(var(--blue), blueviolet);
        border: 2rem solid #fff;
        box-shadow: 0 .3rem .5rem #000;
        padding: 4rem 0;
        width: 27rem;
    }
    header .header-2 .navbar ul li{
        width: 100%;
        margin: 1rem 0;
        text-align: center;
    }
    header .header-2 .navbar ul li a{
        font-size: 2.5rem;
        display: block;
    }
    .fa-times{
        transform: rotate(180deg);
    }
    header .header-2 .nav-toggle{
        top: 50%;
        opacity: 1;
    }
    .arrival .box-container{
        width: auto;
    }
}


@media(max-width: 600px){
    html{
        font-size: 50%;
    }
    .home .home-slider .item .content h3{
        font-size: 3rem;
    }
    .home .home-slider .item .content p{
        font-size: 2rem;
        width: auto;
    }
    .feature .row .image-container{
        flex-flow: column;
    }
    .feature .row .image-container .small-image{
        flex-flow: row wrap;
        padding-bottom: 2rem;
    }
    .feature .row .content{
        padding: 2rem;
        border-top: .1rem solid rgba(0,0,0,.3);
    }
    .feature .row .content p{
       width: auto;
    }
    .feature .row .content .btn{
       margin: 2rem 0;
    }
}


@media(max-width: 400px){
    header .header-1{
        flex-flow: column;
        padding: 1rem;
    }
    header .header-1 .logo{
        padding-bottom: 1.5rem;
    }
}
